[submodule "modules/tmux-powerline"]
	path = modules/tmux-powerline
	url = git://github.com/erikw/tmux-powerline.git
[submodule "modules/tmux-powerline-solarized"]
	path = modules/tmux-powerline-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "modules/tmux-pasteboard"]
	path = modules/tmux-pasteboard
	url = https://github.com/ChrisJohnsen/tmux-MacOSX-pasteboard.git
[submodule "modules/fonts/menlo-mensch-incosolata-gist1595572"]
	path = modules/fonts/menlo-mensch-incosolata-gist1595572
	url = git://gist.github.com/1595572.git
[submodule "modules/fonts/sourceCodePro-Powerline"]
	path = modules/fonts/sourceCodePro-Powerline
	url = https://github.com/ryanmcilmoyl/sourceCodePro-Powerline.git
