[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/ruby"]
	path = vim/bundle/ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/command_t"]
	path = vim/bundle/command_t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = git://github.com/tsaleh/vim-matchit.git
[submodule "vim/bundle/cucumber"]
	path = vim/bundle/cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "vim/bundle/php"]
	path = vim/bundle/php
	url = https://github.com/vim-scripts/php.vim.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/endwise"]
	path = vim/bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/html5"]
	path = vim/bundle/html5
	url = https://github.com/othree/html5.vim.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/ri_vim"]
	path = vim/bundle/ri_vim
	url = git://github.com/vim-scripts/ri-browser.git 
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/coffeescript"]
	path = vim/bundle/coffeescript
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/indent_object"]
	path = vim/bundle/indent_object
	url = git://github.com/michaeljsmith/vim-indent-object.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/ddollar/nerdcommenter.git
[submodule "vim/bundle/conque"]
	path = vim/bundle/conque
	url = https://github.com/rson/vim-conque.git
[submodule "vim/bundle/cocoa"]
	path = vim/bundle/cocoa
	url = https://github.com/msanders/cocoa.vim.git
[submodule "vim/bundle/align"]
	path = vim/bundle/align
	url = https://github.com/pix/vim-align.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/jekyll"]
	path = vim/bundle/jekyll
	url = https://github.com/csexton/jekyll.vim.git
[submodule "vim/bundle/haml"]
	path = vim/bundle/haml
	url = https://github.com/tpope/vim-haml.git
