[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/ruby"]
	path = vim/bundle/ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/command_t"]
	path = vim/bundle/command_t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "/Users/lchin/dwango/leonard_chin/dotfiles/vim/bundle/matchit"]
	path = /Users/lchin/dwango/leonard_chin/dotfiles/vim/bundle/matchit
	url = git://github.com/tsaleh/vim-matchit.git
[submodule "/Users/lchin/dwango/leonard_chin/dotfiles/vim/bundle/cucumber"]
	path = /Users/lchin/dwango/leonard_chin/dotfiles/vim/bundle/cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "/Users/lchin/dwango/leonard_chin/dotfiles/vim/bundle/php"]
	path = /Users/lchin/dwango/leonard_chin/dotfiles/vim/bundle/php
	url = https://github.com/vim-scripts/php.vim.git
[submodule "/Users/lchin/dwango/leonard_chin/dotfiles/vim/bundle/unimpaired"]
	path = /Users/lchin/dwango/leonard_chin/dotfiles/vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "/Users/lchin/dwango/leonard_chin/dotfiles/vim/bundle/endwise"]
	path = /Users/lchin/dwango/leonard_chin/dotfiles/vim/bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "/Users/lchin/dwango/leonard_chin/dotfiles/vim/bundle/ack"]
	path = /Users/lchin/dwango/leonard_chin/dotfiles/vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "/Users/lchin/dwango/leonard_chin/dotfiles/vim/bundle/scss"]
	path = /Users/lchin/dwango/leonard_chin/dotfiles/vim/bundle/scss
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "/Users/lchin/dwango/leonard_chin/dotfiles/vim/bundle/html5"]
	path = /Users/lchin/dwango/leonard_chin/dotfiles/vim/bundle/html5
	url = https://github.com/othree/html5.vim.git
[submodule "/Users/lchin/dwango/leonard_chin/dotfiles/vim/bundle/solarized"]
	path = /Users/lchin/dwango/leonard_chin/dotfiles/vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
